<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Mahasiswa</title>
    <link rel="stylesheet" href="/css/lihatprofilmahasiswa.css">
</head>
<body>
    <nav>
        <div class="back">
            <a href="javascript:void(0)" onclick="goBack()"><h1><</h1></a>
        </div>
        <h3>Profil Mahasiswa</h3>
        <div class="selesai">
            <a href=""><button>Selesaikan bimbingan</button></a>
        </div>
    </nav>

    <main>
        <div class="profil">
            <div class="atas">
                <img src="/gambar/icon profile.png" alt="">
            </div>
            <div class="bawah">
                <div>
                    <p>NIM</p>
                    <p>Nama</p>
                    <p>Semester</p>
                    <p>Angkatan</p>
                    <p>Status bimbingan</p>
                </div>
                <div>
                    {{#each profilMahasiswa}}
                    <p>: &ensp; <span>{{ this.nim }}</span></p>
                    <p>: &ensp; <span>{{ this.nama_mahasiswa }}</span></p>
                    <p>: &ensp; <span>{{ this.semester }}</span></p>
                    <p>: &ensp; <span>{{ this.angkatan }}</span></p>
                    <p>: &ensp; <span>{{ this.status_bimbingan }}</span></p>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="content">
            <div class="judul">
                {{#each profilMahasiswa}}
                <h3>{{ this.judul_tugas_akhir }}</h3>
                {{/each}}
            </div>
            <div class="progress">
                <div class="nav">
                    <h4>Riwayat progress</h4>
                </div>
                <div class="konten">
                    <a href="">
                        <div class="isi">
                            <h5>Progres ke-1</h5>
                            <p>dd/MM/yyyy hh:mm</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="isi">
                            <h5>Progres ke-X</h5>
                            <p>dd/MM/yyyy hh:mm</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="isi">
                            <h5>Progres ke-X</h5>
                            <p>dd/MM/yyyy hh:mm</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="isi">
                            <h5>Progres ke-X</h5>
                            <p>dd/MM/yyyy hh:mm</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="isi">
                            <h5>Progres ke-X</h5>
                            <p>dd/MM/yyyy hh:mm</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="isi">
                            <h5>Progres ke-X</h5>
                            <p>dd/MM/yyyy hh:mm</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="isi">
                            <h5>Progres ke-X</h5>
                            <p>dd/MM/yyyy hh:mm</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="isi">
                            <h5>Progres ke-X</h5>
                            <p>dd/MM/yyyy hh:mm</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="isi">
                            <h5>Progres ke-X</h5>
                            <p>dd/MM/yyyy hh:mm</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <script>
        function goBack(){
            window.history.back();
        }
    </script>
    
</body>
</html>