<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Mahasiswa</title>
    <link rel="stylesheet" href="/css/namamahasiswa.css">
</head>
<body>
    <nav>
        <div class="back">
            <a href="javascript:void(0)" onclick="goBack()"><h1><</h1></a>
        </div>
        <h3>Mahasiswa yang dibimbing</h3>
        <div class="search">
            <input type="search" placeholder="Cari berdasarkan nama atau NIM">
            <a href=""><button>Cari</button></a>
        </div>
    </nav>

    <div class="content">
        <div class="box">
            <div class="kiri">
                <h4>Angkatan {{ angkatan }}</h4>
            </div>
            <div class="kanan">
                <a href=""><button>Daftarkan Mahasiswa</button></a>
            </div>
        </div>
    </div>

    <table>
        <thead>
            <th>NIM</th>
            <th>Nama mahasiswa</th>
            <th>Tanggal didaftarkan</th>
            <th>Status bimbingan</th>
            <th>Aksi</th>
        </thead>
    
        <tbody>
            {{#each listMahasiswa}}
            <tr>
                <td>{{ this.nim }}</td>
                <td>{{ this.nama_mahasiswa }}</td>
                <td>{{ this.tanggal_didaftarkan }}</td>
                <td>{{ this.status_bimbingan }}</td>
                <td><a href="/list/nim/{{ this.nim }}"><button>Lihat profil</button></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script>
        function goBack(){
            window.history.back();
        }
    </script>
    
</body>
</html>