<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Mahasiswa</title>
    <link rel="stylesheet" href="/css/profilmahasiswa.css">
</head>
<body>
    <div class="back">
        <a href="/dashboardmahasiswa"><h1><</h1></a>
    </div>

    <div class="container">
        <div class="atas">
            <img src="/gambar/profile icon.jpg" alt="">
            <h4>{{ nama_mahasiswa }}</h4>
            <p>{{ nim }}</p>
            <h6>{{ status_bimbingan }}</h6>
        </div>
        <div class="setting">
            <ul>
                <li><a href=""><img src="/gambar/setting.png" alt=""></a>
                    <ul>
                        <li><a href="/profil/editProfilMahasiswa">Edit profil</a></li>
                        <li><a href="">Ganti kata sandi</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="bawah">
            <div>
                <p>Judul Tugas Akhir</p>
                <p>Dosen Pembimbing</p>
                <p>Fakultas</p>
                <p>Departemen</p>
                <p>Semester</p>
                <p>email</p>
                <p>telepon</p>
            </div>
            <div>
                <p>: &ensp;<span>{{ judul }}</span></p>
                <p>: &ensp;<span>[nama dosen pembimbing]</span></p>
                <p>: &ensp;<span>{{ fakultas }}</span></p>
                <p>: &ensp;<span>{{ departemen }}</span></p>
                <p>: &ensp;<span>{{ semester }}</span></p>
                <p>: &ensp;<span>{{ email }}</span></p>
                <p>: &ensp;<span>{{ telepon }}</span></p>
            </div>
        </div>
    </div>
</body>
</html>